@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* border-box para auxilio na responsividade */
    box-sizing: border-box;
}

.no-select {
    user-select: none; /* Para a maioria dos navegadores */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body{
    background-color: #FFE1C9;
}

section{
    padding: 28px 8%;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F24535;
    border-radius: 10px;
    padding: 5px 40px;
    font-weight: 600;
    color: #fff;
    transition: background-color .3s ease;
    cursor: pointer;
}

.btn-default:hover{
    background-color: #ffffff;
    color: #F24535;
}

.social-media-buttons{
    display: flex;
    gap: 18px;
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 70px;
    text-decoration: none;
    color: #1d1d1d;
    transition: background-color .3s ease;
}

.social-media-buttons a:hover{
    color: #F24535;
    
}